<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/static/images/favicons/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/static/images/favicons/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/static/images/favicons/favicon-16x16.png"
        />
        <link rel="manifest" href="/static/images/favicons/site.webmanifest" />
        <link rel="stylesheet" href="/static/styles/index.css" rel="preload"></link>
        <title>wowlikon</title>
    </head>
    <body>
        <h1>Hello, World!</h1>

        <h2>My Certificates</h2>
        <div class="certificates">
            <div class="sidebar">
                <h2 onclick="showGallery('all', this)" class="all">All</h2>
                {{ range $language, $certificates := .Certificates }}
                    <h2 onclick="showGallery('{{ $language | lower }}', this)" class="{{ if eq $language "Python" }}active{{ end }}">{{ $language }}</h2>
                {{ end }}
            </div>
            <div class="gallery">
                {{ range $language, $certificates := .Certificates }}
                    <div id="{{ $language | lower }}" class="carousel {{ if eq $language "Python" }}active{{ end }}">
                        <span class="arrow left" onclick="changeImage('{{ $language | lower }}', -1)">&#10094;</span>
                        {{ range $certificates }}
                            <img src="{{ . }}" alt="{{ $language }}" />
                        {{ end }}
                        <span class="arrow right" onclick="changeImage('{{ $language | lower }}', 1)">&#10095;</span>
                        <div class="indicator"></div>
                    </div>
                {{ end }}
            </div>
        </div>

        <h2>My repositories</h2>
        <script src="/static/scripts/index.js"></script>
        <div class="repositories">
            {{ range .Repos }}
            <div class="github-widget" data-username="{{ .User  }}" data-repo="{{ .Repo }}">
                <h2 id="repo-name">
                    <a id="repo-link" href="#" target="_blank">{{ .Repo }}</a>
                </h2>
                <p id="repo-description"></p>
                <p>Звёзды: <span id="repo-stars"></span></p>
                <div class="language-bar"></div>
                <div class="language-legend"></div>
            </div>
            {{ end }}
        </div>
    </body>
</html>
