# Игнорируем все файлы и папки
*
!.gitignore

# Исключаем все файлы с расширением .txt .md и лицензию
!*.txt
!LICENSE
!README.md

# Исключаем файлы, которые начинаются с blocked_ и имеют расширение .txt
!blocked_*.txt

# Исключаем папку data
!data/
!data/**

# Исключаем папку static
!static/
!static/**

# Игнорируем остальные указанные файлы
*.db
*.exe
*.log
*.zip
*.json
*.toml
*.crt
*.key
*.backup
