# Игнорируем все файлы и папки
*

# Исключаем все файлы с расширением .txt
!*.txt

# Исключаем файлы, которые начинаются с blocked_ и имеют расширение .txt
!blocked_*.txt

# Исключаем папку data
!data/
!data/**

# Игнорируем остальные указанные файлы
*.db
*.exe
*.log
*.zip
*.json
*.toml
*.crt
*.key
*.backup
