[server]
host = "localhost"
http_port = 80
https_port = 443
protocols = 3
# 0 None
# 1 Http
# 2 Https
# 3 Http + Https

[tokens]
ds = "**************************.******.-*****-*******************************"
tg = "0000000000:***********************************"

[canvas]
side = 256
timeout = 60
free_space = 128

#Not used
[admin]
login = "admin"
password = "admin"

#Not used
[database]
name = "dbname"
user = "dbuser"
password = "dbpassword"
